<article>
  <%= link_to link.title, link.url %>
  <p><%= link.description %></p>
  <p>
    <%= link_to '[link]', link %>
    <% if link.user == current_user %>
      <%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
</article>
